@font-face {
    font-family: "MiSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/MiSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "MiSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/MiSans-Demibold.ttf) format("truetype");
}

@font-face {
    font-family: "SarasaFixedSC";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/SarasaFixedSC-Regular.ttf) format("truetype");
}

:root {
  --vp-c-accent: #8787ff;
  --vp-c-accent-bg: #a9a9ff;
  --vp-c-accent-hover: #babaff;
  --vp-c-accent-soft: rgb(101 101 255 / 14%);

  --font-family: "MiSans", sans-serif;
  --code-font-family: "SarasaFixedSC", monospace;

  scroll-behavior: smooth;
}

[data-theme='dark'] {
  --vp-c-accent: #babaff;
  --vp-c-accent-bg: #a9a9ff;
  --vp-c-accent-hover: #9898ff;
  --vp-c-accent-soft: rgb(101 101 255 / 16%);
}

.hint-container.details {
  overflow: hidden;
}

.hint-container.details .language-text {
  max-width: 100%;
  margin: 0 auto;
}