@import url("https://fontsapi.zeoseven.com/159/main/result.css");
@import url("https://fontsapi.zeoseven.com/214/main/result.css");

:root {
  --vp-c-accent: #8787ff;
  --vp-c-accent-bg: #a9a9ff;
  --vp-c-accent-hover: #babaff;
  --vp-c-accent-soft: rgb(101 101 255 / 14%);

  --font-family: "Sarasa UI SC", sans-serif;
  --code-font-family: "Sarasa Mono SC", monospace;
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --vp-c-accent: #babaff;
  --vp-c-accent-bg: #a9a9ff;
  --vp-c-accent-hover: #9898ff;
  --vp-c-accent-soft: rgb(101 101 255 / 16%);
}

.hint-container .language-text {
  max-width: 100%;
  margin: 0.75rem auto;
}